#form1{
    text-align: center;
}

h1{
    text-align: center;
}

div{
    text-align: center;}

li{
    padding: 5px;
    list-style-type: none;
}

a{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color:rgb(156, 143, 143);
    text-decoration: none;}

a:hover{
    border: 2px solid yellow;
    color: white;
    background-color: black;
}


#matrix1,

#matrix2,

#resultmatrix {

    border: 12px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    /* width :100%; */
}

#matrix1>input,

#matrix2>input,




#resultmatrix>input,#getinput1,#getinput2 {
    border: 1px solid rgb(156, 143, 143);
    text-align: center;
    line-height: 1.5;
    padding: 2px;
    margin: 0px;
    color: blue;
}

#getinput1,#getinput2{
    width: 20%;
}

body{
    background-color:rgb(77, 194, 184)
}

button ,a{
    background-color: rgb(156, 143, 143);
    color: white;
    border: 1px solid black;
    
}


li{
    list-style: none;
    padding: 5px;
    margin-top: 10px;
}
a{
    margin-right: 50px;
    text-decoration: none;
    padding: 5px;
}
